<div class="battery">
  <div class="label">Battery</div>
  <div class="value">{{battery.percentage}}%</div>
  <div class="progress-bar rounded">
    <div class="progress-track">
      <div class="progress-fill" [ngStyle]="{'width': battery.percentage+'%'}"></div>
    </div>
  </div>
</div>
<div class="navbar">
  <div class="left" [ngClass]="maxIndex==0?'highlight':''">
    <div class="label">Left</div>
    <div class="value">{{predictions[0]*100 | number}}%</div>
    <div class="symbol">🡄</div>
  </div>
  <div class="straight" [ngClass]="maxIndex==2?'highlight':''">
    <div class="label">Straight</div>
    <div class="value">{{predictions[2]*100 | number}}%</div>
    <div class="symbol">🡅</div>
  </div>
  <div class="right" [ngClass]="maxIndex==1?'highlight':''">
    <div class="label">Right</div>
    <div class="value">{{predictions[1]*100 | number}}%</div>
    <div class="symbol">🡆</div>
  </div>
</div>
WAIT {{wait}} RUNNING {{running}} COMMAND {{command}}<br>
<div class="label">{{timer}}</div>
<button (click)="stop()" [disabled]="wait">
  <div class="label">⯃ STOP</div>
</button>
<div (click)="start()" *ngIf="wait && !running">
  <button>
    <div class="label">START</div>
  </button>
  <br>
  <br>
  <button (click)="turn(-5)">
    <div class="value">LEFT</div>
  </button>
  <button (click)="turn(5)">
    <div class="value">RIGHT</div>
  </button>
  <br>
  <button (click)="straight()">
      <div class="value">STRAIGHT</div>
    </button>
  <br>
  <br>
  <button (click)="halt()">
    <div class="value">HALT</div>
  </button>
</div>
